---
layout: layouts/base.njk
pageName: HKBC
eleventyNavigation:
  key: HKBC
  order: 2
pagination:
  data: collections.hkbc
  size: 30
  alias: hkbc
  reverse: true
  permalink: "hkbc/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---

<h1 class="toph">Hong Kong Book Club</h1>

<p  style="font-weight: 600; text-align:right;"><a href="/hkbc-annual-archive">Archive by Year</a>
<br>
<a href="/history">A brief background of the HKBC</a></p>
   <div class="post-separator"></div>


{% for post in hkbc %}
<article>
    <div class="post-content">
        <span class="post-date"><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></span>
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        {% if post.data.writer %}
          <p><em>
            {% set writerList = post.data.writer.split(',') %}
            {% for writerName in writerList %}
              <a href="/writers/{{ writerName.trim() | slugify }}/">{{ writerName.trim() }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </em></p>
        {% endif %}
        {% if post.data.artist %}
          <p><em>
            {% set artistList = post.data.artist.split(',') %}
            {% for artistName in artistList %}
              <a href="/artists/{{ artistName.trim() | slugify }}/">{{ artistName.trim() }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </em></p>
        {% endif %}
        <p class="excerpt">{{ post.data.excerpt }}</p>
    </div>
</article>
  {% if not loop.last %}
    <div class="post-separator"></div>
  {% endif %}
{% endfor %}


{# Pagination navigation #}
{% if pagination.links.length > 0 %}
<nav class="page-pagination" aria-label="page navigation">
     <div class="page-pagination-links" style="display: flex; justify-content: space-between; margin-top: 2rem;">
      {% if pagination.href.previous %}
        <span><a href="{{ pagination.href.previous }}" class="page-pagination-previous">
      Newer Posts &rarr;
    </a></span>
      {% endif %}
      
      {% if pagination.href.next %}
   <span><a href="{{ pagination.href.next }}" class="page-pagination-next">

      &larr; Older Posts
    </a></span>
      {% endif %}
    </div>
  </nav>
{% endif %}
