---
title: HKBC history
layout: layouts/base.njk
pageName: History
eleventyExcludeFromCollections: true
---

<h1 class="toph">Hong Kong Book Club (HKBC)</h1>

<p>The club began with meet-ups at Cafe O in Sheung Wan in 2009, but for me Club 71 will always be where we met the most and had the best in-person attendance and banter. Situated adjacent to Sun Yat Sen Park,  accessible through narrow, dark alleys, it was wonderfully lacking in tourists. When C71 got too busy and seating wasn't available, we finally opted to move to The Canny Man, the only Scottish pub in Hong Kong. We sampled the nectars of their lengthy single malt menu while a shaggy, moth-eaten head of an Aberdeen cow deadeyed us from its wall mount. </p>

<p>Fast-forward to today and we have moved to video meet-ups, as a large contingent of the membership has relocated from HK. </p>