---
title: Subscribe
layout: layouts/base.njk
pageName: Subscribe
---
<h1>{{ title }}</h1>

<p>Once a month, I send out <em>Fair Warning</em>, a curated admixture of images and hyperlinks&mdash;a veritable collection of curios&mdash;foisted upon unsuspecting readership of dozens. Such emails may or may not contain links to stories about art thefts, <a href="https://en.wikipedia.org/wiki/Charles_Fort" target="_new">Fortean phenomena</a>, planetary activity, new photo gear, podcasts or blogs surviving in the margins and deserving of some attention, and new technology you can't live without, but probably can if you think about it long enough with a little imagination. </p>

<form
  action="https://buttondown.com/api/emails/embed-subscribe/daveross"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/daveross', 'popupwindow')"
  class="embeddable-buttondown-form"
>
 <label for="bd-email">Enter your email to receive a monthly digest of post headlines.</label>
 <input type="email" name="email" id="bd-email" required/>
 <input type="submit" value="Subscribe"/>

</form>