---
layout: layouts/base.njk
---

{% set index = collections
	.postsForNav
	.indexOf(page) %}
{% set previousPost = collections.postsForNav[index - 1] %}
{% set nextPost = collections.postsForNav[index + 1] %}

{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<link rel="stylesheet" href="/css/prism-okaidia.css" >
<link rel="stylesheet" href="/css/prism-one-light.css" >

{% set hasFullFigure = content and content.includes('figure') %}

<h1 data-pagefind-body class="post-title--center">{{ title | widont }}</h1>
<div style="text-align:center;">
	<p class="post-date">
		{% if writer %}
			{% if writer.includes(',') %}Authors{% else %}Author{% endif %}:
			{% set writerList = writer.split(',') %}
			{% for writerName in writerList %}
				<a href="/writers/{{ writerName.trim() | slugify }}/">{{ writerName.trim() }}</a>{% if not loop.last %}, {% endif %}
			{% endfor %}
		{% endif %}
		{% if artist %}
			{% if writer %}<span class="meta-separator"> • </span>{% endif %}
			{% if artist.includes(',') %}Artists{% else %}Artist{% endif %}:
			{% set artistList = artist.split(',') %}
			{% for artistName in artistList %}
				<a href="/artists/{{ artistName.trim() | slugify }}/">{{ artistName.trim() }}</a>{% if not loop.last %}, {% endif %}
			{% endfor %}
		{% endif %}
	</p>
	<time class="post-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
	{%- set postTime = page.date | readableTime -%}
	{%- if postTime %}
		<span class="post-date">
			<span class="meta-separator"> • </span>
			{{ postTime }}</span>{% endif %}
	<span class="meta-separator"> • </span>
	{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
		{%- if not loop.last %}, {% endif %}
	{%- endfor %}
</div>

<div data-pagefind-body class="first-img{% if 'reading' in tags %} reading-post{% endif %}">
	{% if "reading" in tags %}{{ content | addFfirstClass | safe }}
	{% else %}{{ content | safe }}
	{% endif %}

	{% if 'share' in tags %}
		{% if linkurl and source %}
			<p>
				<strong>Via <a href="{{ linkurl }}" target="_blank" rel="noopener">{{ source }}</a>
				</strong>
			</p>
		{% elif source %}
			<p>
				<strong>Via {{ source }}</strong>
			</p>
		{% endif %}
	{% endif %}
</div>

{% set previousPost = collections.navigablePosts | getPreviousCollectionItem %}
{% set nextPost = collections.navigablePosts | getNextCollectionItem %}

<nav class="page-pagination" aria-label="Blog page navigation">
	<div class="page-pagination-links-posts">
		{%- if previousPost %}
			<a href="{{ previousPost.url }}" class="page-pagination-previous">← Prev</a>
		{% endif %}

		{%- if nextPost %}
			<a href="{{ nextPost.url }}" class="page-pagination-next">Next →</a>
		{% endif %}

	</div>
</nav>
</main>