<ul>
 {% for post in postslist %}
  {% if post.data.linky %}
   <li>
    <a href="{{ post.data.linky }}">{{ post.data.title }}</a>  &#128279; &nbsp;&nbsp; <span class="post-date">
     <time datetime="{{ post.date }}">{{ post.date | readableDate }}</time></span></li>
  {% else %}
   <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a> &nbsp;&nbsp; <span class="post-date">
     <time datetime="{{ post.date }}">{{ post.date | readableDate }}</time></span></li>
  {% endif %}
 {%- endfor -%}
</ul>