---
title: Welcome!
layout: layouts/base.njk
pageName: Welcome!
---

<h1>{{ title }}</h1>

<p>Almost there!</p>

<p>Please check your in-box for an email from dave [at] daveross [dot] name. You will need to click on the confirmation button in that message to be added to the <em>Fair Warning</em> list. </p>