---
title: Me
layout: layouts/base.njk
skipInNav: true
---
<h1>{{ title }}</h1>
<p>What began as a simple way of keeping track of what my small book club was reading has evolved into a way of mainlining static site web development into the veins of my existence, as well as brushing up on some skills I've let lapse over the years recovering from a major illness and an innate tendency toward sloth, the last of the Seven Deadly Sins.</p>
<p>Why isn't genocide one of the Deadly Sins? I mean, it's pretty bad, right?</p>
<p>Anyway, I hope you enjoy the site. If you have any questions, comments, or suggestions, please don't hesitate to reach out to me at davidrosshk@gmail.com. Spammers, very frowned upon in my jurisdiction, will be sent a fourteen page subpoena from the courts by droneServe, a local startup with better precision than Swiss watches. </p>
<p>My Bluesky (Blue-skee, as Senator Kennedy would say) account (mostly innactive) is <a href="https://bsky.app/profile/hkislander.bsky.social" target="_new">https://bsky.app/profile/hkislander.bsky.social</a>, and my Twitter account was deleted a while ago. </p>