---
layout: layouts/base.njk
pageName: Search
eleventyNavigation:
  key: Search
  order: 6
---
 <h2 class="toph">Search</h2>

 <div id="content" >
     <div id="search" class="search"></div>
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false, excerptLength: 30, showSubResults: false, autofocus: true });"></script>
  </div>