---
title: Me
layout: layouts/base.njk
skipInNav: true
---
<h1>{{ title }}</h1>
<p>What began as a simple way of keeping track of what my small book club (and me on the sly) was reading has evolved into a way of mainlining static site web development into the veins of my existence. </p>

<p>I wanted simplicity. Security. Files as app. I found 11ty (eleventy) as someone who rarely codes, it just works. No more figuring out how to export content from system A and importing it (always imperfectly) into system B.  </p>

<p>If you have any questions, comments, or suggestions, please don't hesitate to reach out to me at davidrosshk@gmail.com.  </p>