---
title: Me
layout: layouts/base.njk
skipInNav: true
---
<h1 class="toph">{{ title }}</h1>

<p>I'm an expat living in Hong Kong with my wife for some time. I've worked in public relations, edited a business travel magazine, ran a graphic design studio, and taught English as a foreign language at several universities, both in the US and China. Not necessarily in that order. </p>

<p>What began as a simple way of keeping tabs on what our small book club read expanded out into other books I've read <em>and</em> enjoyed. If I don't like a book that much, it is not recorded. The "HKBC" in the navigation stands for Hong Kong Book Club, which is essentially a subsection of "Reading".</p>

<p> View all <a href="/writers">authors</a> whose are mentioned on this site.  </p>

<p>The creative brief for this site: I wanted simplicity. Security. Files as app. I found 11ty (eleventy); it just works, spitting out static web pages, which then sync seamlessly on a push to GitHub.   </p>

<p>If you have any questions, comments, or suggestions, please don't hesitate to reach out to me at davidrosshk@gmail.com. Well, you can hesitate a little. </p>