---
title: Welcome to A Blog of Many Things List
layout: layouts/base.njk
pageName: Almost there!
---

<h1 class="toph">{{ title }}</h1>

<p>Once or twice a month, you'll receive an email that looks a bit like this, but has some posts about unforeseen things that neither you nor I could have predicted. That's what makes getting off the doomscroll of the quotidian Interwebs so refreshing, no?</p>

Dave Ross
[*A Blog of Many Things*](https://daveross.name)

